/* .carousel {
    margin-left: -9em !important;
    margin-right: -9em !important;
} */
 @media only screen and (min-width: 1024px) {
   .carousel{ margin-left: -9em !important;
        margin-right: -9em !important;}
 }
.carousel img {
    width: 200%;
    height: auto;
    /* border-radius: 10px; */
    /* Ensure responsive behavior */
}
.carousel-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}